@model Goldenpineappleofthesun.Database.Models.DocumentItem

@{ 
    string path = Model.FileName.Replace("\\", "/");
}

<div class="document">
    <div class="row">
        <div class="col-md-5">
            <div class="document-name">@(Model.Name.Length <= 30 ?Model.Name : $"{Model.Name.Substring(0,27)} … {Model.Name.Substring(Model.Name.Length-4)}")</div>
        </div>
        <div class="col-md-2">
            <div class="document-author">@(Model.Author.Login)</div>
        </div>
        <div class="col-md-3">
            <div class="document-date">@(Model.CreationDate)</div>
        </div>
        <div class="col-md-1">
            <div class="document-link" onclick="openFile('@(path)')">
                ссылка
            </div>
        </div>
        <div class="col-md-1">
            <div class="document-del" onclick="deleteDocument($(this).parents('.document'), '@(Model.Author.Login)', '@(Model.Name)')">
                удалить
            </div>
        </div>
    </div>
</div>